<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre Mi</a>
    <a href="/blog/">Blog</a>

    <h1>Sobre Mi</h1>
    <h2>Soy Alejandro Gomez y este es mi blog con Astro</h2>

    <p>Trabajando en Astro</p>

    <p>Ire actualizando</p>
</body>