<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre Mi</a>
    <a href="/blog/">Blog</a>

    <h1>Mi Blog de Aprendizaje de Astro</h1>
    <p>Aqui publicare mi aprendizaje con Astro.</p>
    <ul>
        <li><a href="/posts/post-1">Publicacion 1</a></li>
        <li><a href="/posts/post-2">Publicacion 2</a></li>
        <li><a href="/posts/post-3">Publicacion 3</a></li>
    </ul>
</body>