<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre Mi</a>
    <a href="/blog/">Blog</a>

    <h1>Mi Blog de Aprendizaje de Astro</h1>
    <p>Aqui publicare mi aprendizaje con Astro.</p>
</body>